html {
	height: 100%;
	overflow-y: scroll;
}

body {
	min-height: 100%;
	position: relative;
}

footer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
}

th.sort-header::selection {
	background: transparent;
}

th.sort-header {
	cursor: pointer;
}

th.sort-header::selection {
	background: transparent;
}

table th.sort-header:after {
	border-color: #404040 transparent;
	border-style: solid;
	border-width: 0 4px 4px;
	content: '';
	float: right;
	margin-top: 7px;
	visibility: hidden;
}

table th.sort-header:hover:after {
	visibility: visible;
}

table th.sort-up:after, table th.sort-down:after, table th.sort-down:hover:after {
	opacity: 0.4;
	visibility: visible;
}

table th.sort-up:after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

.width-52 {
	width: 52%;
}

.width-50 {
	width: 50%;
}

.width-24 {
	width: 24%;
}

.width-17 {
	width: 17%;
}

.width-14 {
	width: 14%;
}

.width-12 {
	width: 12%;
}

.goto-top {
	bottom: 10px;
	position: fixed;
	right: 20px;
}

.flot-container {
	height: 400px;
}

.flot-plot {
	float: left;
	height: 100%;
	width: 80%;
}

.flot-options {
	float: right;
	width: 20%;
}
